{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Welcome To Yuanbin's Interactive Portfolio</title>
    <link rel="stylesheet" href="" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>

<body>
<header>
    <h1>Welcome To Yuanbin's Interactive Portfolio </h1>
</header>
    <main>
        <div class="projectthumb">
            <a data-fancybox="gallery" href="{% static 'images/Homepage/project01.png' %}"><img src="{% static 'images/Homepage/thumb/Thumb01.png' %}" height="350px" width="400px"></a>
            <a data-fancybox="gallery" href="{% static 'images/Homepage/project02.png' %}"><img src="{% static 'images/Homepage/thumb/Thumb02.png' %}" height="350px" width="600px"></a>
            <a data-fancybox="gallery" href="{% static 'images/Homepage/project03.png' %"><img src="{% static 'images/Homepage/thumb/Thumb03.png' %}" height="350px" width="400px"></a>
            <a data-fancybox="gallery" href="{% static 'images/Homepage/project04.png' %}"><img src="{% static 'images/Homepage/thumb/Thumb04.png' %}" height="350px" width="400px"></a>
            <br>
            <a data-fancybox="gallery" href="{% static 'images/Homepage/project05.png' %}"><img src="{% static 'images/Homepage/thumb/Thumb05.png' %}" height="350px" width="400px"></a>
            <a data-fancybox="gallery" href="{% static 'images/Homepage/project06.png' %}"><img src="{% static 'images/Homepage/thumb/Thumb06.png' %}" height="350px" width="600px"></a>
            <a data-fancybox="gallery" href="{% static 'images/Homepage/project07.png' %}"><img src="{% static 'images/Homepage/thumb/Thumb07.png' %}" height="350px" width="400px"></a>
            <a data-fancybox="gallery" href="{% static 'images/Homepage/project08.png' %}"><img src="{% static 'images/Homepage/thumb/Thumb08.png' %}" height="350px" width="400px"></a>
            <p class="entercontainer">
                <br/>
                <a id="enterbtn" href="{% url 'login' %}">ENTER / LOGIN</a>
            </p>
            <a class="btn btn-light" id="guestbtn" role="button" href="{% url 'index' %}">Continue As Guests</a>
        </div>
        <br/>
        <br/>
    </main>
</body>
</html>
